.container {
  position: absolute;
  width: 80%;
  height: 50%;
  /* padding: 2rem 0; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.forgotTitle {
  margin: auto auto;
  animation: fromTop 1s ease-out;
}

.forgotDecription {
  /* margin: auto auto; */
  animation: fromTop 1s ease-out;
}

.edtEmail {
  animation: fromLeft 1s ease-out;
}

.submit_button {
  animation: fromBottom 1s backwards 1s ease-out;
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
